{% extends "base.html" %}

{% block section %}
<section class="hero-container">
    <div class="container">
        <div class="well text-center">
            <h3>Noticeboard</h3>
        </div>
        <div class="container">
            <ul>
                {% for post in news_posts %}
                <div class="jumbotron p-3">
                    <div class="well text-center">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.body }}</p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
