{% extends 'base.html' %}

{% block section %}
<div class="" >
    <title class="container">Change Password</title>
    <div class="container" style="float: right;">
         <h1 class="" style="color: red;">Change Password</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="" >
        <form method="POST" action="/change_password">
        <div class="">
             <label for="adm" class="form-label" style="color: lightcyan;" >ADM _ _ _ _  :   </label>
        <input type="text" name="adm" class="form-label"required><br>

        </div>
        <div class="">
               <label for="old_password" class="form-label" style="color: lightcyan;">Old Password:</label>
        <input type="password" name="old_password" class="form-label" required><br>
        </div>
      <div class="">
              <label for="new_password" class="form-label" style="color: lightcyan;">New Password:</label>
        <input type="password" name="new_password" class="form-label" required><br>
        </div>  
      

    </div>
    
       

        <input type="submit" value="Change Password" class="call_to-btn">
    </form>
</div>
    </div>




            

{%endblock%}

